
.b {
    border: none;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 20px;
    cursor: pointer;
}

body {
font-size: medium;
padding: 3em;
margin: 2em;
background-color: whitesmoke;
}





